@import "tailwindcss";

@theme {
  --font-sans: 'Source Sans 3', sans-serif;
  --font-heading: 'Nunito', sans-serif;

  --color-green-700: #15803d;
  --color-green-600: #16a34a;
  --color-green-50: #f0fdf4;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
